h4{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
p{
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}